language: bash

os:
  - linux
  - osx

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi

before_script:
  - ./configure
  - make
  - make install
  - make clean

script:
  - gcc --version
  - make --version

after_script:
  - make uninstall
