language: bash

os:
  - linux
  - osx

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi

#before_script:
#  - sudo R -e 'install.packages(c("Rcpp", "numDeriv", "tictoc"), repos="http://cran.us.r-project.org")'

script:
  - gcc --version
  - make --version
