language: bash

os:
  - linux
  - osx

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi

before_script:
  - ./configure
  - make
  - make install
  - make clean

script:
  - cd test
  - gcc tests.c -I ~/lib/include/ ~/lib/lib/numDeriv.a -o exe -std=c99 -lm
  - ./exe

after_script:
  - make uninstall
